.code{color:steelblue;}
.bll{background-color:black;
color:white;}
.colo{border:5px solid steelblue;
border-radius:5px;}
.pop{
color:goldenrod;
}
#mopo{color:#526a06;}
.kolo{background-color:purple;
color:white;}
    #bol{color:green;}
    #clot{color:purple;
    }
        